# frontend
node_modules/
build/
dist/
coverage/

# env
.env*
!.env.example

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# database
*.db
*.sqlite3

# uploads
uploads/
backend/uploads/

# logs
*.log

# system
.DS_Store
Thumbs.db

# vscode
.vscode/   
